//margin

.u-mt-h {
  margin-bottom: 15rem;
}
.u-mt-l {
  margin-top: 8rem;
}
.u-mt-m {
  margin-top: 5rem;
}
.u-mt-s {
  margin-top: 2rem;
}

.u-mb-h {
  margin-top: 15rem;
}
.u-mb-l {
  margin-bottom: 8rem;
}
.u-mb-m {
  margin-bottom: 5rem;
}
.u-mb-s {
  margin-bottom: 2rem;
}

// blank divider
.divider-l {
  display: block;
  width: 100%;
  height: 20rem;
}
.divider-m {
  display: block;
  width: 100%;
  height: 15rem;
}
.divider-s {
  display: block;
  width: 100%;
  height: 8rem;
}

//center item
.u-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-center-text {
  text-align: center;
}

// round corner tags
.u-tag {
  margin: 2rem 1rem;
  text-align: center;
  height: 50px;
  border-radius: 100px;
}
