// portfolio card
.section-portfo-card {
  & .portfo-card-container {
    @extend %card;
    padding-bottom: 2rem;

    & .portfo-card_img {
      height: 20rem;
      overflow: hidden;
      @extend %flexCenter;

      & .portfo-card_img--bg {
        background-image: url(../../img/works/port1.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    }
    & .portfo-card_description {
      padding: 1rem 3rem;
    }
  }
}

.participants {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    width: 80px;
  }

  & .participant-container {
    display: flex;
    flex-wrap: wrap;
    & .participant {
      border: 2px solid #fff;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      margin-right: -0.4rem;
    }
  }
}

// portfolio innerpage
.section-portfo-innerpage {
  .portfo-innerpage-container {
    & .col-1-of-3 {
      margin-right: 0 !important;
    }
    & .portfo-innerpage_head {
      display: flex;
      flex-direction: column;
      & p {
        text-align: center;
      }
      & .u-portfo-card_img {
      }
      & .participants {
        @extend %flexCenter;
      }
      & .btn-container {
        @extend %flexCenter;
      }
    }
    & .portfo-innerpage_details {
      padding: 1rem;
      background: $color-grey-dark;
      color: #fff;
      display: flex;
      flex-direction: column;
      & .portfo-innerpage_details--1 {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
